.cartOverlay {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.cart {
  position: absolute;
  top: 0;
  right: 72px;
  background-color: #fff;
  width: 325px;
  max-height: 630px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 32px 16px;
  z-index: 11;
  display: flex;
  flex-direction: column;
}

.cartTitle {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 32px;

  > span {
    font-weight: 500;
  }
}

.cartProducts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cartProduct {
  display: flex;
  gap: 4px;
  align-items: flex-start;
}

.productInfo {
  flex: 1;

  .productName {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 4px;
  }

  .productPrice {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.quantityContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 165px;

  > button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: all 0.2s;
  }
}

.productImage {
  object-fit: contain;
}

.cartTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .total {
    font-weight: 500;
    font-size: 16px;
  }

  .totalPrice {
    font-weight: 700;
    font-size: 16px;
  }
}

.productAttributes {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.attribute {
  .title {
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 8px;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
  }

  .item {
    width: 48px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1d1f22;
    font-weight: 400;
    font-size: 14px;
    background-color: transparent;

    &.selected {
      background-color: #1d1f22;
      color: #fff;
    }
  }
}
