.productPage {
  display: flex;
  gap: 109px;
  justify-content: flex-start;
}

.imagesGallery {
  display: flex;
  gap: 40px;
  flex: 0.7;
  height: fit-content;
}

.imagesStack {
  display: flex;
  flex-direction: column;
  gap: 20px;

  > img {
    object-fit: contain;
    cursor: pointer;
    transition: all 0.2s;
  }

  > img:hover {
    opacity: 0.7;
  }

  > img.active {
    border: 1px solid var(--primary-clr);
  }
}

.mainImage {
  position: relative;
  height: fit-content;

  > img {
    object-fit: contain;
  }
}

.arrows {
  > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    transition: all 0.2s;
  }

  > button:hover {
    opacity: 0.7;
  }

  > button.leftArrow {
    left: 16px;
  }

  > button.rightArrow {
    right: 16px;
  }
}

.productInfo {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.productName {
  font-weight: 600;
  font-size: 30px;
}

.productPrice {
  margin-top: 28px;
  line-height: 18px;

  .title {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .price {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
  }
}
